# main
DANGEROUSLY_DISABLE_HOST_CHECK=true
HOST="localhost"
PORT=3000

# JWT Config
REACT_APP_JWKS_URI="https://login.microsoftonline.com/common/discovery/v2.0/keys"
REACT_APP_REFRESH_TOKEN_SECONDS="3600"
REACT_APP_ISSUER="https://sts.windows.net/{tenant-id}/"
REACT_APP_AUDIENCE="https://servicebus.azure.net"
REACT_APP_EXPIRATION_SECONDS="3600"
REACT_APP_SUBJECT=""
REACT_APP_SESSION_SECRET=""

# Azure App Configuration
REACT_APP_TENANT_ID=""
REACT_APP_CLIENT_ID=""
REACT_APP_CLIENT_SECRET=""
REACT_APP_API_CLIENT_ID=""
REACT_APP_REDIRECT_URI="https://login.ccollins.io"
